.book-info__name-container{
    display: inline;
    margin-top: 0.5rem;
    margin-left: 1rem;
    overflow: hidden;
    background-color: #4f4f4f;
    max-width: 60%;
}
.book-info__name-text{
    font-size: 0.8rem;
    color: #f5f6fa;
}
.book-info__author-container{
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    overflow: hidden;
    background-color: #4f4f4f;
    max-width: 20%;
}
.book-info__author-text{
    font-size: 0.5rem;
    color: #cdced2;
}
