body{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#content{
    display: inline-block;
    height: 100%;
    background-color: #3d3d3d;
    position: relative;
    overflow: scroll;
}
span{
    border: 0;
    /* --color_duller: #dcdde1;
    --color_main: #f5f6fa;
    --good:#32ff7e;
    --bad:#ff4d4d;
    --pop_light:#9c88ff;
    --pop_dark:#8c7ae6; */
    /* color: #f5f6fa; */
    /* TODO: Change svg colors */
}
