.person-info__name-container{
    display: inline;
    margin-top: 0.5rem;
    margin-left: 1rem;
    overflow: hidden;
    background-color: #4f4f4f;
    max-width: 60%;
}
.person-info__name-text{
    font-size: 0.8rem;
    color: #f5f6fa;
}
