#search-params{
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    padding-bottom: 4rem;
    background-color:  #444;
}
.search-param{
    margin: 1rem;
}
.search-param__label{
    color: #ecedef;
    font-size: 0.8rem;
}
.search-param__input-container{
    border-radius: 0.3rem;
    border: solid 2px;
    height: 1.8rem;
    padding: 0 0.5rem;
    display: inline-block;
    background-color: #4f4f4f;
    margin-left: 1rem;
}
.search-param__input-container:active{
    border: solid 2px #32ff7e;
}
.search-param__input-overflowhandler{
    height: 1.6rem;
    overflow: hidden;
    margin-top: 0.1rem;
    background-color: #4f4f4f;
}
.search-param__input{
    font-size: 0.75rem;
    color: #f5f6fa;
}
.search-submit{
    border: solid 2px #9c88ff;
    position: absolute;
    width: 5rem;
    border-radius: 0.4rem;
    height: 2.1rem;
    bottom: 1rem;
    right: 1rem;
    padding-left: 0.5rem;
}
.search-submit:hover{
    background-color: #9c88ff;
}
.search-submit__text{
    font-size: 0.85rem;
    color: #f5f6fa;
}
#search-results{
    background-color: #444;
    border-radius: 1rem;
    margin: 1rem;
}

.search-result{
    height: 3rem;
    background-color: #4f4f4f;
    border: 3px solid;
    margin: 1rem;
    border-radius: 0.6rem;
}
.search-result:hover{
    border: 3px solid #9c88ff;
}
