#sidebar{
    /* position: absolute; */
    position: relative;
    display: inline-block;
    background-color: #4b4b4b;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    width: 2.5rem;
}
#sidebar:active{
    width: 10rem;
}
.sidebar__item-bottom{
    height: 2.5rem;
}
.sidebar__item:hover{
    background-color: #666;
}
.sidebar__item:current{
    background-color: #8c7ae6;
}
.sidebar__item-icon{
    margin: 0.25rem;
    display: inline-block;
    width: 2rem;
    aspect-ratio: 1;
}
.sidebar__item-text{
    color: #f5f6fa;
    font-size: 1rem;
}
.sidebar__item-bottom{
    position: absolute;
    bottom: 0;
}
