.container{
    padding: 1rem;
}

.section{
    padding: 0.5rem;
    margin: 1rem;
}

.section-title{
    font-size: 1.5rem;
}

.booksContainer{
    overflow-x: scroll;
}

.book{
    margin-right: 1rem;
    display: inline-only;
    padding-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 1rem;
    padding-bottom: -3rem;
}
img{
    height: 11rem;
    width: 8.5rem;
    display: block;
}
.infoContainer{
    position: relative;
    top: -3rem;
    background-color: black;
    opacity: 0.5;
    width: 8.5rem;
    padding-left: 0.75rem;
    padding-top: 0.3rem;
}
.name{
    display: block-inline;
    font-size: 0.65rem;
    opacity: 1;
}
.author{
    display: block-inline;
    font-size: 0.5rem;
    opacity: 0.8;
}
